<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aj.walls.hot"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/_001"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
          <service
        android:label="@string/app_name"
        android:name=".TheWall"
        android:permission="android.permission.BIND_WALLPAPER">
        <intent-filter>
          <action android:name="android.service.wallpaper.WallpaperService" />
        </intent-filter>
        <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper" />
      </service>
    </application>

</manifest>